{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
<form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data"> 
    {%csrf_token%}
    <h2>Login</h2>
    <hr>
    <div class="mb-3">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" name="username" required>   
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" name="password" >
    </div>
    <div class="mb-3">
        <p>Register here <a href="/register">register</a></p>
    </div>
    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div>


{% endblock %}